.app--body {
    background-color: #110828;
    min-height: 100%;
    height: max-content;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.img--logo {
    width: 80%; 
    max-width: 30rem;
    transition: all 200ms ease;
    cursor: pointer;
}

.img--logo:hover {
    transform: scale(1.05);
}