.app--body {
    background-color: #110828;
    min-height: 100%;
    height: max-content;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.img--logo {
    width: 80%; 
    max-width: 30rem
}