<section class="create--body">
    <form 
        class="form--body"
        #localForm="ngForm"
        [formGroup]="newDeck"
        (ngSubmit)="onSubmit()"
        novalidate
    >

        <h1 class="form--header">
            Cadastrar novo DECK
        </h1>
        <hr>

        <div class="form--group">
            <h2 class="form--text" for="">
                Nome do DECK
            </h2>
            <div class="error--message" 
                *ngIf="localForm.submitted && newDeck.controls['deck_name'].hasError('required')"
            >
                O nome do DECK é obrigatório.
            </div>
            <input class="deck--input" type="text" name="" formControlName="deck_name">
        </div>

        <div class="form--group">
            <h2 class="form--text">Selecione uma classe</h2>
            <div class="error--message"
                *ngIf="localForm.submitted && newDeck.controls['deck_class'].hasError('required')"
            >
                Selecionar uma classe é obrigatório.
            </div>
            <div class="checkbox--holder">
                <label class="label--checkbox" *ngFor="let class of classList">
                    <input class="radio--class" type="radio" value="{{class.value}}" formControlName="deck_class">
                    <img class="radio--image" src="./../../../assets/heros/{{class.value}}.jpg" alt="">
                    <span class="radio--text">{{class.name}}</span>
                </label>
            </div>
        </div>

        <button type="submit">Salvar</button>
    </form>
</section>