.create--body {
    padding-bottom: 4rem;
}

.form--header {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

hr {
    width: 90%;
    max-width: 200px;
    margin-inline: auto;
    margin-block: 0.5rem;
}

.form--text {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    width: 100%;
    text-align: center;
}

.form--group {
    padding: 1rem;
}

.deck--input {
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
    display: block;
    outline: none;
    background-color:#424756;
    height: 2.5rem;
    color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
}

.checkbox--holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    max-width: 1200px;
    margin-inline: auto;
}

.label--checkbox {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
}

.radio--class {
    display: none;
}

.radio--class:checked ~ .radio--image {
   outline: 5px solid #660ea4;
   border: 5px solid #660ea4;
}

.radio--image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: all 200ms ease;
    border: 5px solid #2b3146;
    border-radius: 5px;
    cursor: pointer;
}

.radio--image:hover {
    transform: scale(1.05);
}

.radio--image:hover ~ .radio--text {
    transform: translateY(-0.25rem)
}


.radio--text {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 800;
    font-size: 1rem;
    transition: all 200ms ease;
}

.error--message {
    display: block;
    width: 100%;
    max-width:  400px ;
    background: #ff004ab8;
    padding: 0.8em;
    color: #fff;
    font-weight: 300;
    margin-inline: auto;
    text-align: center;
    border-radius: 8px;
    font-size: 0.8rem;
}

button {
    background-color: #424756;
    padding: 0.8rem 2rem;
    color: #fff;
    font-weight: 800;
    margin-inline: auto;
    display: block;
    border-radius: 8px;
    font-size: 1.2rem;
    transition: all 200ms ease;
}

button:hover {
    background-color: #2b3146;
}

@media(min-width: 30rem) {
    .checkbox--holder {
        grid-template-columns: 1fr 1fr;
    }

    .radio--text {
        font-size: 1.5rem;
    }
}

@media(min-width: 50rem) {
    .checkbox--holder {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}